[data-bs-theme=light] {
    --bs-body-color: black !important;
    --bs-body-bg: white !important;
}

[data-bs-theme=dark] {
    --bs-body-color: white !important;
    --bs-body-bg: black !important;
}

hr {
    margin: .5rem 0 .5rem 0;
}

#map {
    /* height: 100vh;
    width: 100vw; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    #mapOptions,
    #mapLegend {
        /* font-family: var(--bs-body-font-family); */
        font-size: var(--bs-body-font-size);
        /* font-weight: var(--bs-body-font-weight); */
    }

    #mouseCoord {
        font-size: small;
    }
}

.mapboxgl-popup-content {
    border-radius: .375rem;
    padding: 1px;

    .mapboxgl-popup-close-button {
        visibility: hidden;
    }

    .mapboxgl-popup-close-button::after {
        content: '❌'
            /*url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>')*/
        ;
        visibility: visible;
    }

    .mapboxgl-popup-close-button:hover::after {
        background-color: rgb(0 0 0 / 5%);
    }

    .card .table {
        color: #046A38;
        /* margin-bottom: 0; */

        caption {
            /* padding-top: .2rem;
            padding-bottom: .2rem; */
            color: #046A38;
            text-align: inherit;
        }

        td {
            align-content: center;
        }
    }
}

/* svg {
    margin-bottom: .2rem;
} */

.distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.distance-container>* {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}